<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Number of Rounds: {{ draftRoundsDisplay }}</h2>
</div>
<div>
  <h3 fxLayout="column" fxLayoutAlign="center center">Captains</h3>
  <p *ngFor="let captain of captainList">{{ captain.name }}</p>
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <h1>Round: {{ round }}</h1> {{ availPlayerCount }}
</div>
<div fxLayout="column" fxLayoutAlign="center center">
  <h2>Available Players ( {{ playerList?.length }} )</h2>
  <mat-nav-list *ngIf="availableListLoaded == true">
    <mat-list-item (click)="playerSelection(i, player)" *ngFor="let player of playerList | sort: 'stars'; index as i">
        <a matLine>{{ player?.name }} | <b>{{ player?.stars }}</b></a>
    </mat-list-item>
  </mat-nav-list>
  <!-- <p>
    Player Count: {{ playerList?.length }}
  </p> -->

  <!-- <button color="primary" routerLink="/draft" [disabled]="playerList?.length < 5" mat-raised-button>Draft!</button> -->
  <!-- <div fxLayout="column" fxLayoutAlign="center center" *ngIf="captainList.length > 0">
    <h1>Captains</h1>
    <mat-nav-list>
      <mat-list-item *ngFor="let captain of captainList; index as i">
          <a matLine>{{ i + 1 }} {{ captain?.name }}</a>
      </mat-list-item>
    </mat-nav-list>
    <button  color="primary" routerLink="/draft" [disabled]="captainList?.length < 3" mat-raised-button>Randomize Captain Selection Order!</button>
  </div> -->
</div>
