<!-- <p>{{childMessage}}, {{statClick}}</p> -->
{{home}} {{away}}

<div class="example-container mat-elevation-z8" *ngIf="statClick == true">
	<div class="example-header">
		<mat-form-field>
			<input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
			<button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
        <mat-icon>close</mat-icon>
      </button>
		</mat-form-field>
	</div>

	<mat-table #table [dataSource]="dataSource">

		<!-- Position Column -->
		<ng-container matColumnDef="position">
			<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
		</ng-container>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Name" [value]="element.name" [(ngModel)]="element.name">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<!-- Weight Column -->
		<ng-container matColumnDef="weight">
			<mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="symbol">
			<mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<input matInput placeholder="Symbol" [value]="element.symbol" [(ngModel)]="element.symbol">
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<!-- Fav Column -->
		<ng-container matColumnDef="fav">
			<mat-header-cell *matHeaderCellDef> Favorite </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<mat-form-field floatLabel="never">
					<mat-select [(value)]="element.fav" placeholder="Favorite">
						<mat-option>None</mat-option>
						<mat-option value="Yes">Yes</mat-option>
					</mat-select>
				</mat-form-field>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->







<!-- <table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.time}} </td>
  </ng-container>

  <ng-container matColumnDef="home">
    <th mat-header-cell *matHeaderCellDef> Home </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.home}} </td>
  </ng-container>

  <ng-container matColumnDef="away">
    <th mat-header-cell *matHeaderCellDef> Away </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.away}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let player" >
      <button (click)="onGame(player.$key)" mat-icon-button>
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <button (click)="onDelete(player.$key)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="onDelete(player.$key)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="winner">
    <th mat-header-cell *matHeaderCellDef> Winner </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.away}} </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.away}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
