<p>
  game works!
</p>
<p>{{childMessage}}</p>
<!-- <table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.date}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.time}} </td>
  </ng-container>

  <ng-container matColumnDef="home">
    <th mat-header-cell *matHeaderCellDef> Home </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.home}} </td>
  </ng-container>

  <ng-container matColumnDef="away">
    <th mat-header-cell *matHeaderCellDef> Away </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.away}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let player" >
      <button (click)="onGame(player.$key)" mat-icon-button>
        <mat-icon>format_list_numbered</mat-icon>
      </button>
      <button (click)="onDelete(player.$key)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="onDelete(player.$key)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="winner">
    <th mat-header-cell *matHeaderCellDef> Winner </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.away}} </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef> Score </th>
    <td mat-cell *matCellDef='let schedule'> {{schedule.away}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->
