<!-- Add free throw attempt, free throw made, free throw % -->

<div class="example-container1 mat-elevation-z8" *ngIf="statClick == true">
  <!-- <mat-table #table [dataSource]='dataSourceHome'> -->
  <mat-table #table [dataSource]='dataSourceHome'>

    <ng-container matColumnDef="position">
			<mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
			<mat-cell *matCellDef="let home; let i = index;"> {{i + 1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
      <mat-cell *matCellDef="let home"> {{ home.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="points">
      <mat-header-cell *matHeaderCellDef> PTS </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <!-- <input matInput (click)="statInput('points', home.points, 'home')" [value]="home.points" [(ngModel)]="home.points"> -->
          <!-- <input matInput #pts name="pts" (keyup.enter)="statInput(home.name, 'points', home, 'home')" [value]="home.points" [(ngModel)]="home.points"> -->
          <input matInput #pts name="pts" (keyup.enter)="statInput(i, home, 'points', 'home')" [value]="home.points" [(ngModel)]="home.points">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="threes">
      <mat-header-cell *matHeaderCellDef> 3s </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <input matInput #threes (keyup.enter)="statInput(i, home, 'threes', 'home')" [value]="home.threes" [(ngModel)]="home.threes">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="assists">
      <mat-header-cell *matHeaderCellDef> AST </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <input matInput #ast (keyup.enter)="statInput(i, home, 'assists', 'home')" [value]="home.assists" [(ngModel)]="home.assists">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rebounds">
      <mat-header-cell *matHeaderCellDef> REB </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <input matInput #reb (keyup.enter)="statInput(i, home, 'rebounds', 'home')" [value]="home.rebounds" [(ngModel)]="home.rebounds">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="blocks">
      <mat-header-cell *matHeaderCellDef> BLK </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <input matInput #blk (keyup.enter)="statInput(i, home, 'blocks', 'home')" [value]="home.blocks" [(ngModel)]="home.blocks">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="steals">
      <mat-header-cell *matHeaderCellDef> STL </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <input matInput #stl (keyup.enter)="statInput(i, home, 'steals', 'home')" [value]="home.steals" [(ngModel)]="home.steals">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fouls">
      <mat-header-cell *matHeaderCellDef> FLS </mat-header-cell>
      <mat-cell *matCellDef="let home; let i = index;">
        <mat-form-field floatLabel="never">
          <input matInput #fls (keyup.enter)="statInput(i, home, 'fouls', 'home')" [value]="home.fouls" [(ngModel)]="home.fouls">
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsHome"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumnsHome;"></mat-row>

  </mat-table>
</div>

<div class="example-container2 mat-elevation-z8" *ngIf="statClick == true">
    <!-- <mat-table #table [dataSource]='dataSourceHome'> -->
    <mat-table #table [dataSource]='dataSourceAway'>

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;"> {{i + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Player </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;"> {{ away.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="points">
        <mat-header-cell *matHeaderCellDef> PTS </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #pts (keyup.enter)="statInput(i, away, 'points', 'away')" [value]="away.points" [(ngModel)]="away.points">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="threes">
        <mat-header-cell *matHeaderCellDef> 3s </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #threes (keyup.enter)="statInput(i, away, 'threes', 'away')" [value]="away.threes" [(ngModel)]="away.threes">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="assists">
        <mat-header-cell *matHeaderCellDef> AST </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #ast (keyup.enter)="statInput(i, away, 'assists', 'away')" [value]="away.assists" [(ngModel)]="away.assists">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rebounds">
        <mat-header-cell *matHeaderCellDef> REB </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #reb (keyup.enter)="statInput(i, away, 'rebounds', 'away')" [value]="away.rebounds" [(ngModel)]="away.rebounds">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="blocks">
        <mat-header-cell *matHeaderCellDef> BLK </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #blk (keyup.enter)="statInput(i, away, 'blocks', 'away')" [value]="away.blocks" [(ngModel)]="away.blocks">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="steals">
        <mat-header-cell *matHeaderCellDef> STL </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #stl (keyup.enter)="statInput(i, away, 'steals', 'away')" [value]="away.steals" [(ngModel)]="away.steals">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fouls">
        <mat-header-cell *matHeaderCellDef> FLS </mat-header-cell>
        <mat-cell *matCellDef="let away; let i = index;">
          <mat-form-field floatLabel="never">
            <input matInput #fls (keyup.enter)="statInput(i, away, 'fouls', 'away')" [value]="away.fouls" [(ngModel)]="away.fouls">
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsAway"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsAway;"></mat-row>

    </mat-table>
  </div>
