<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button routerLink="/" mat-menu-item>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button routerLink="/players" mat-menu-item>
        <mat-icon>group_add</mat-icon>
        <span>Players</span>
      </button>
      <button routerLink="/teams" mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>Teams</span>
      </button>
      <button routerLink="/schedule" mat-menu-item>
        <mat-icon>calendar_today</mat-icon>
        <span>Schedule</span>
      </button>
      <button routerLink="/stats" mat-menu-item>
        <mat-icon>how_to_reg</mat-icon>
        <span>Stats</span>
      </button>
      <button routerLink="/draft" mat-menu-item>
        <mat-icon>people_outline</mat-icon>
        <span>Draft</span>
      </button>
      <button routerLink="/captain" mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Captain</span>
      </button>
      <!-- <button mat-menu-item>
        <mat-icon>videocam</mat-icon>
        <span>Let's talk</span>
      </button> -->
      <!-- <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button> -->
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Clan League 2019</span>
</mat-toolbar>

<router-outlet></router-outlet>
